* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}

fieldset {
  border: 1px solid crimson;
  padding: 10px;
  margin: auto;
  width: 40%;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.first img {
  height: 90px;
  width: 120%;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.second input {
  margin-top: 10px;
}
